.navbar{
  background-color: maroon;
}
.navbar-nav{
  margin-left: 60px;
}
.navbar-nav li{
  margin-left: 30px;
}
body{
  background-image: url("../imgs/pz1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1500px;
}
.prize{
  float: right;
}
.overlay{
  background-color: rgba(0,0,0,0.5);
  height: 1500px;
}
.card-body{
  color: #F9A602

}
.ingredients{
  float: right;
}
p{
  text-align: center;
}
.psize{
  font-family: 'Indie Flower', cursive;
  font-size: 20PX;
  font-weight: bolder;
}
.ptype{
  font-family: 'Indie Flower', cursive;
  font-size: 20PX;
  font-weight: bolder;
}
.crust{
  font-family: 'Indie Flower', cursive;
  font-size: 20PX;
}
.toptype{
  font-family: 'Indie Flower', cursive;
  font-size: 20PX;
}
.form{
  background-color: rgba(0,0,0,0.5);
  width: 500px;
}
