.navbar{
  background-color: maroon;
}
.navbar-nav{
  margin-left: 60px;
}
.navbar-nav li{
  margin-left: 30px;
}
body{
  background-image: url("../imgs/pz1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1500px;

}
h2{
  font-family: 'Lobster', cursive;
  color: #F9A602;
}
p{
  font-family: 'Lobster', cursive;
  color: #F9A602;
}
.prize{
  float: right;
}

.table {
display: none;
}

.additional-buttons {
  display: none;
}
.overlay{
  background-color: rgba(0,0,0,0.5);
  height: 1500px;
}
.card-body{
  color: #F9A602

}
.card-body h5{
  font-family: 'Butcherman', cursive;
}
.ingredients{
  float: right;
}
p{
  text-align: center;
}
.psize{
  font-family: 'Indie Flower', cursive;
  font-size: 20PX;
  font-weight: bolder;
}
.ptype{
  font-family: 'Indie Flower', cursive;
  font-size: 20PX;
  font-weight: bolder;
}
.crust{
  font-family: 'Indie Flower', cursive;
  font-size: 20PX;
}
.toptype{
  font-family: 'Indie Flower', cursive;
  font-size: 20PX;
}
.form{
  background-color: rgba(0,0,0,0.5);
  width: 500px;
}
.additional-info h4{
  display: none;
}
.location{
  display: none;
}
.additional-info h3{
  display: none;
}
.additional-buttons{
  color: white;
}
.table{
  color: white;
}
#new-pizza h3{
  font-family: 'Butcherman', cursive;
}
ul{
  list-style: none;
}
