.navbar{
  background-color: maroon;
}
.navbar-nav{
  margin-left: 60px;
}
.navbar-nav li{
  margin-left: 30px;
}
body{
  background-image: url("../imgs/pz5.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}
#intro h1{
  font-size: 70px;
  font-family: 'Lobster', cursive;
  color: #F9A602;
}
#intro h3{
  font size:40px;
  font-family: 'Indie Flower', cursive;
  color: yellow;
}
#intro{
  padding-top: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.overlay{
  background-color: rgba(0,0,0,0.5);
  height: 800px;
}
.social-icons{
  display: flex;
  text-decoration: none;
  padding-bottom: 0px;
  margin-left: 40px;

}
.social{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
